@import "./fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: transparent !important;
}

.custom-hover {
  cursor: url("../../public/assets/images/svg/cursor-custom.svg"), auto !important;
}

@media (min-width: 1800px) {
  .big {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
}
