.splash-container {
  position: fixed;
  inset: 0;
  background: transparent;
  overflow: hidden;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  pointer-events: none;
}

.splash-top,
.splash-bottom {
  height: calc(50% - 1.5px);
  background: white;
  transform: translateY(0);
  transition: transform 1s ease-in-out;
}

.loading-line-wrapper {
  height: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  z-index: 2;
  /* transition: opacity 0.3s ease; */
}

/* Loading line */
.loading-line {
  width: 8px;
  height: 3px;
  background: black;
  animation: grow-line 2s ease-in-out forwards;
}

@keyframes grow-line {
  0%,
  30% {
    width: 8px;
    border-radius: 50%;
  }
  100% {
    width: 100vw;
    border-radius: 0;
  }
}

/* animate open */
.splash-container.split-active .splash-top {
  transform: translateY(-105%);
}

.splash-container.split-active .splash-bottom {
  transform: translateY(105%);
}

/* animate open */
.splash-container.split-active {
  background: transparent;
}

/* hide loading line */
.hide-line {
  opacity: 0;
  pointer-events: none;
}
